*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#calc-container{
    border: 5px solid gray;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
}
.output{
    background-color: white;
    width: 350px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}
.buttons{
    width: 357px;
    height: 366px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.div-1{
    flex: 4;
}
.div-2{
    flex: 1;
}
.btn1, .btn2, .btn3, .btn4, .btn5{
    display: flex;
}
.btn1 button, .btn2 button, .btn3 button, .btn4 button{
    flex: 1;
    padding: 27px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn1 button{
    background-color: rgb(71, 186, 224);
    border: 2px solid white;
    border-radius: 10px;
    transition: .15s;
}
.btn1 button:hover{
    background-color: rgb(29, 153, 194);
}
.btn2 button, .btn3 button, .btn4 button{
    background-color: rgb(182, 182, 182);
    border: 2px solid white;
    border-radius: 10px;
    transition: .15s;
}
.btn2 button:hover, .btn3 button:hover, .btn4 button:hover{
    background-color: rgb(150, 146, 146);
}
.btn5 button{
    flex: 1;
    padding: 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(182, 182, 182);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: .15s;
}
.btn5 button:hover{
    background-color: rgb(150, 146, 146);
}
.btn5 .equal{
    flex: 2;
    background-color: green;
    border: 2px solid white;
    transition: .15s;
}
.btn5 .equal:hover{
    background-color: rgb(36, 104, 36);
}

.btn6{
    display: flex;
    flex-direction: column;
}
.btn6 button{
    padding: 27px;
    font-weight: bold;
    font-size: 14px;
    background-color: yellow;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: .15s;
}
.btn6 .add{
    height: 145px;
}
.btn6 button:hover{
    background-color: rgb(184, 184, 21);
}